.features__container {
    padding: 100px 10px;
}

.features__title {
    color: #2a3342;
    font-size: 30px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -2%;
    text-align: center;
    margin-bottom: 10px;
}

.features__text {
    color: #556987;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    
}

.features__wrapper {
    margin-bottom: 40px;
}

.features__item {
    text-align: center;
    &::before {
        content: url('../../pictures/icons/features1.svg');
    }
}

.features__item2 {
    &::before {
        content: url('../../pictures/icons/features2.svg');
    }
}

.features__item3 {
    &::before {
        content: url('../../pictures/icons/features3.svg');
    }
}

.features__item4 {
    &::before {
        content: url('../../pictures/icons/features4.svg');
    }
}

.features__item5 {
    &::before {
        content: url('../../pictures/icons/features5.svg');
    }
}

.features__item6 {
    &::before {
        content: url('../../pictures/icons/features6.svg');
    }
}

.features__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

.item__title {
    margin: 12px 0px;
    color: #2a3342;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.item__text {
    color: #556987;
    font-size: 14px;
    font-weight: 500;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
@media screen and (min-width:640px){
    .features__text {
        font-size: 18px;
        font-weight: 500;       
    }
    .features__title {
        font-size: 36px;
        font-weight: 600;
    }
    .features__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .item__title {
        font-size: 24px;
        font-weight: 600;
     
    }
    .item__text {
        font-size: 18px;
        font-weight: 500;
    }
}
@media screen and (min-width:992px){
    .features__text {
        font-size: 18px;
        font-weight: 600;       
    }
    .features__title {
        font-size: 38px;
        font-weight: 700;
    }
    .features__list {
        grid-template-columns: repeat(3, 1fr);
    }
    .item__title {
        font-size: 26px;     
    }
    .item__text {
        font-size: 18px;
    }
}