.how__box {
    display: none;
}

.how__container {
    padding-top: 88px;
    padding-bottom: 88px;
}

.how {
    background-color: #2A3342;
    margin-left: 0;
    margin-right: 0;
}

.how__block {
    text-align: center;
}

.how__title {
    color: #FFFFFF;
    margin-top: 10px;
}

.how__text {
    color: #8896AB;
}

.how__list {
    text-align: center;
}

.how__span {
    background: #22c55e;
    color: #2a3342;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -2%;
    margin-left: auto;
    margin-right: auto;
    width: 48px;
    height: 48px;
    padding: 10px;
    border-radius: 100%;
    margin-bottom: 15px;
}

.how__name {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 10px;
}

.how__txt {
    color: #8896ab;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.how__list{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
}
@media screen and (min-width:640px){
    .how__list{
        grid-template-columns: repeat(2,1fr);
    }
    .how__block{
        text-align: start;
    }
    .how__wrapper{
        margin-bottom: 64px;
    }
}
@media screen and (min-width:992px){
    .how__list{
        grid-template-columns: repeat(3,1fr);
    }
    .how__block{
        width: 500px;
    }
    .how__box {
        display: block;
    }
    .how__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}